*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background: #FFFFFF;
    min-height: 100vh;

}

.contenedor{
    position: relative;
    width: 1366px;
    height: 768px;    
    display: flex;
    align-items: center;
}

.vector{
    position: absolute;
    width: 1360px;
    height: 566px;
    left: 4px;
    top: -1px;

}

.contenedor-textos{
    flex-basis: 50%;
    padding-left: 121px;
    overflow: hidden;
    color: black;
    z-index: 1;
}

.titulo{    
    position: absolute;
    width: 428px;
    height: 98px;
    left: 121px;
    top: 64px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 51px;
    line-height: 70px;
    color: rgb(12, 11, 11);
}

.subtitulo{
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    width: 405px;
    height: 94px;
    left: 121px;
    top: 335px;
    margin: 30px 0 ;
    color: rgb(18, 22, 26);
}

.boton{
    display: inline-block;    
    padding: 15px 0 ;
    text-align: center;
    background: #FF9666;
    border-radius: 6px;
    text-decoration: none;
    position: absolute;
    width: 307px;
    height: 52px;
    left: 941px;
    top: 674px;
}

.contenedor-imagen{
    flex-basis: 50%;
    position: absolute;
    width: 418px;
    height: 297px;
    left: 155px;
    top: 416px;
    z-index: 1;
}