*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background: #FFFFFF;
    min-height: 100vh;

}

.contenedor{
    position: relative;
    height:768px;
    display: flex;
    align-items: center;
}

.vector{
    position: absolute;
    top: 0;
    left: 0;
    width: 1368px;
}

.contenedor-textos